.site-header {
  border-bottom: 1px solid $grey-line-color;

  .wrapper {
    height: 80px;
    display: flex;
    align-items: center;
  }

  a:hover {
    opacity: 0.5;
  }
}

.site-title {
  @include sans(600);
  font-size: 32px;
  letter-spacing: -1px;

  &:after {
    content: ".";
    color: $brand-color;
  }
}

.site-nav {
  @include sans;
  margin-left: auto;

  a {
    margin-left: 1em;
  }
  a.active {
    padding-bottom: 5px;
    border-bottom: 2px solid $text-color;
    font-weight: 600;
  }
}
