/**
 * Site footer
 */
 body {
  display: flex;
  flex-direction:column;
}

.site-footer {
  margin-top: auto;
  font-size: 0.75rem;
  padding: $spacing-unit 0;
  background-color: $background-gray;
  border-top: 1px solid $line-gray;
  color: $icon-color;
  overflow: auto;

  @include media-query($on-palm) {
    padding: $spacing-unit/2 0;
  }
}

.accounts {
  float:left;

  a {
    margin: 0.5em;
  }
  a:hover {
    @include transition;
    opacity: 0.6;
  }
}

.accounts svg {
  width: 16px;
  height: 16px;
  fill: $icon-color;
}

.copyright {
  float:right;
}

/**
 * TOC
 */

 .toc {
   border: 1px solid $line-gray;
   line-height: 1.8;
   box-shadow: 0 2px 8px rgba(59,64,69,0.1);

   a,
   a:visited {
     color: #888;
   }

   a:hover {
     color: $text-color;
   }
 }

 .toc-title {
   text-transform: uppercase;
   font-size: 0.875rem;
   font-weight: 600;
   padding: 0.5rem 1rem;
   background: $background-gray;
   border-bottom: 1px solid $line-gray;
 }

 .toc ul {
   list-style-type: none;
   font-size: 0.875rem;
   margin: 0.5rem 1rem;

   ul {
    margin: 0 0 0 1rem;
   }
 }



/*
 * Pagination
 */
.pagination {
  margin: $spacing-unit 0;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;

  @include media-query($on-laptop) {
    margin: 1.5rem 0;
  }

  a:visited {
    color: $text-color;
  }

  a:hover {
    text-decoration: none;
    color: #EEE;
    background: $text-color;
  }
}

.page-btn {
  @include transition;
  display: inline-block;
  padding: 0.3em 0.8em;
  color: $text-color;
  background: $background-gray;
}

.page-current {
  color: #EEE;
  background: $text-color;
  font-style: normal;
}


/*
 * Search
 */

// Container
.gsc-control-cse {
  padding: 0 !important;
  margin-bottom: $spacing-unit;
}

// Input
input.gsc-input {
  font-family: $base-font-family !important;
  color: $text-color !important;
}

// Title
.gs-title {
  font-family: "Open Sans", sans-serif !important;
  font-weight: 600 !important;
  text-decoration: none !important;

  b {
    text-decoration: none !important;
  }

  &:hover {
    text-decoration: underline !important;
  }
}

// URL
.gs-webResult div.gs-visibleUrl {
  font-family: $base-font-family !important;
}

// Content
.gsc-control-cse .gsc-table-result {
  font-family: $base-font-family !important;
}

// Paging
.gsc-cursor-page {
  font-family: $base-font-family !important;
}

@media screen and (min-width: $on-palm) {
  // Input
  input.gsc-input {
    font-size: 18px !important;
    font-weight: bold;
    padding: 0.5em !important;
    height: 40px !important;
  }

  // Button
  .gsc-search-button-v2 {
    height: 50px !important;
  }

  // Title
  .gs-title {
    font-size: 18px !important;

    b {
      font-size: 18px !important;
    }
  }

  // URL
  .gs-webResult div.gs-visibleUrl {
    font-size: 14px !important;
  }

  // Content
  .gsc-control-cse .gsc-table-result {
    font-size: 16px !important;
    line-height: 1.8 !important;
  }

  // Paging
  .gsc-cursor-page {
    font-size: 18px !important;
  }
}

/*
* Adsense
*/

.ad-post, .ad-search {
  margin: $spacing-unit auto;
}
