/**
 * Site header
 */

 .site-header {
  padding-top: $spacing-unit;
  padding-bottom: $spacing-unit;
}

.site-title {
  @include transition;
  @include sans(600);
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: -1px;
  float: left;

  &:after {
    content: ".";
    color: $brand-color;
  }

  &,
  &:visited,
  &:hover {
    color: $text-color;
    text-decoration: none;
  }

  &:hover {
    opacity: 0.5;
  }
}

.site-nav {
  line-height: 2.5rem;
  @include sans;
  float: right;

  ul {
    list-style-type: none;
    margin: 0;

    li {
      display: inline-block;

      &:not(:last-child) {
        margin-right: 1em;
      }
    }
  }

  .page-link {
    @include transition;
    color: $text-color;
    text-decoration: none;

    &:hover {
      opacity: 0.5;
    }
  }

  .active {
    padding-bottom: 5px;
    border-bottom: 2px solid $text-color;
    font-weight: 600;
  }
}



/**
 * Site footer
 */
 body {
  display: flex;
  flex-direction:column;
}

.site-footer {
  margin-top: auto;
  font-size: 0.75rem;
  padding: $spacing-unit 0;
  background-color: $background-gray;
  border-top: 1px solid $line-gray;
  color: $icon-color;
  overflow: auto;

  @include media-query($on-palm) {
    padding: $spacing-unit/2 0;
  }
}

.accounts {
  float:left;

  a {
    margin: 0.5em;
  }
  a:hover {
    @include transition;
    opacity: 0.6;
  }
}

.accounts svg {
  width: 16px;
  height: 16px;
  fill: $icon-color;
}

.copyright {
  float:right;
}

/**
 * TOC
 */

 .toc {
   border: 1px solid $line-gray;
   line-height: 1.8;
   box-shadow: 0 2px 8px rgba(59,64,69,0.1);

   a,
   a:visited {
     color: #888;
   }

   a:hover {
     color: $text-color;
   }
 }

 .toc-title {
   text-transform: uppercase;
   font-size: 0.875rem;
   font-weight: 600;
   padding: 0.5rem 1rem;
   background: $background-gray;
   border-bottom: 1px solid $line-gray;
 }

 .toc ul {
   list-style-type: none;
   font-size: 0.875rem;
   margin: 0.5rem 1rem;

   ul {
    margin: 0 0 0 1rem;
   }
 }


/**
 * Page content
 */
.page-content {
  padding: 0;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list {
  @extend %clearfix;
  list-style: none;
  margin: 0;
}

.post-list-item {
  float: left;
  width: 32%;
  margin-right: 2%;
  margin-bottom: 2%;

  &:nth-child(3n) {
    margin-right: 0;
  }

  &:nth-child(3n+1) {
    clear: left;
  }

  .image-link {
    display: block;
    padding-top: 56%;
    background-color: $background-gray;
    overflow: hidden;
    position: relative;
    border: 1px solid $line-gray-light;
  }

  .image {
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .image-link:hover {
    opacity: 0.8;
  }

  .text {
    padding-top: 0.6em;
  }

  .title {
    font-family: "Open Sans", sans-serif;
    font-size: 1.125rem;
    font-weight: 600;
    margin: 0;

    a,
    a:visited {
      color: $text-color;
    }
  }

  .date {
    font-size: 0.75rem;
    opacity: 0.5;
    line-height: 1em;
  }

}

@include media-query($on-palm) {
  .post-list-item {
    width: 100%;
    margin-bottom: 15px;
    margin-right: 0;
    position: relative;

    .image-link {
      width: 100px;
      padding-top: 60px;
    }

    .text {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      margin: 0 0 0 115px;
      padding: 0;
    }

    .title {
      line-height: 1.3em;
      font-size: 1rem;
    }
  }

}



/**
 * Post
 */
.post-hero {
  position: relative;
  color: #F5F5F5;
  background-color: #444;
  z-index: 0;
  font-family: "Open Sans", sans-serif;
  margin-bottom: $spacing-unit;

  .wrapper {
    padding-top: $spacing-unit * 2;
    padding-bottom: $spacing-unit * 2;

    @include media-query($on-laptop) {
      padding-top: $spacing-unit;
      padding-bottom: $spacing-unit;
    }
  }

}

.hero-image {
  position: absolute;
  z-index: -999998;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  opacity: 0.2;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-gradient {
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  pointer-events: none;
}

.post-meta {
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  @extend %clearfix;

  ul {
    float: left;
    margin: 0;
    list-style-type: none;

    li {
      float: left;
      padding: 0.4em 0.8em;
      margin-right: 0.8em;
    }
  }

  .post-cat {
    background-color: #222;
    margin-right: 1px;

    &:last-child {
      margin-right: 0.8em;
    }
  }

  .post-tag {
    padding: 0.4em 0;
  }

  .post-tag:before {
    content: "#";
    opacity: 0.6;
  }
}

.post-title {
  font-size: 2rem;
  line-height: 1.5em;
  margin: 0.5em 0;

  @include media-query($on-laptop) {
    font-size: 1.8rem;
  }
}

.post-date {
  font-size: 0.75rem;
  opacity: 0.6;
}

// Hide markdown first heading
.post-content > h1 {
  display: none;
}

.utterances {
  max-width: 100%;
  margin: $spacing-unit 0;
}

/*
 * Pagination
 */
.pagination {
  margin: $spacing-unit 0;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;

  @include media-query($on-laptop) {
    margin: 1.5rem 0;
  }

  a:visited {
    color: $text-color;
  }

  a:hover {
    text-decoration: none;
    color: #EEE;
    background: $text-color;
  }
}

.page-btn {
  @include transition;
  display: inline-block;
  padding: 0.3em 0.8em;
  color: $text-color;
  background: $background-gray;
}

.page-current {
  color: #EEE;
  background: $text-color;
  font-style: normal;
}


/*
 * Search
 */

 @media screen and (min-width: $on-palm) {
  // Container
  .gsc-control-cse {
    padding: 0 !important;
    margin-bottom: $spacing-unit;
  }

  // Input
  input.gsc-input {
    font-family: $base-font-family !important;
    font-size: 18px !important;
    font-weight: bold;
    padding: 0.5em !important;
    height: 40px !important;
    color: $text-color !important;
  }

  // Button
  .gsc-search-button-v2 {
    height: 50px !important;
  }

  // Title
  .gs-title {
    font-family: "Open Sans", sans-serif !important;
    font-weight: 600 !important;
    font-size: 18px !important;  
    text-decoration: none !important;

    b {
      font-size: 18px !important;
      text-decoration: none !important;
    }

    &:hover {
      text-decoration: underline !important;
    }
  }

  // URL
  .gs-webResult div.gs-visibleUrl {
    font-family: $base-font-family !important;
    font-size: 14px !important;
  }

  // Content
  .gsc-control-cse .gsc-table-result {
    font-family: $base-font-family !important;
    font-size: 16px !important;
    line-height: 1.8 !important;
  }

  .gsc-cursor-page {
    font-family: $base-font-family !important;
    font-size: 18px !important;
  }
}

/*
* Adsense
*/

.post-ad {
  background-color: $background-gray;
  margin: $spacing-unit 0;
}

.search-ad {
  background-color: $background-gray;
  margin: $spacing-unit 0;
}