---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-hero">
    <!-- image -->
    {% assign start = page.thumbnail | slice: 0 %}
    {% if start == '/' %}
      {% assign thumbnail = page.thumbnail %}
    {% else %}
      {% assign thumbnail = '/thumbnails/' | append: page.thumbnail %}
    {% endif %}
    <div class="hero-image" {%- if thumbnail -%} style="background-image: url('{{thumbnail}}')" {%- endif -%}></div>
    <div class="hero-gradient"></div>
    <div class="wrapper">
      <!-- meta -->
      <div class="post-meta">
        <!-- category -->
        <ul class="post-cats">
          {%- for cat in page.categories -%}
            <li class="post-cat">{{cat}}</li>
          {%- endfor -%}
        </ul>
        <!-- tag -->
        <ul class="post-tags">
          {%- for tag in page.tags -%}
            <li class="post-tag">{{tag}}</li>
          {%- endfor -%}
        </ul>
      </div>
      <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
      <time class="post-date" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%B %d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
    </div>
  </header>

  <div class="wrapper">
    <!-- Content -->
    <div class="post-content markdown-body" itemprop="articleBody">
      {{ content }}
    </div>
    <!-- Comment -->
    <div class="comment">
      <script async crossorigin="anonymous" issue-term="pathname" repo="raycon/blog-comments" src="https://utteranc.es/client.js" theme="github-light"></script>
    </div>
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>

</article>
