---
layout: default
---
<section class="search">

  <div class="wrapper">
      <script async src='https://cse.google.com/cse.js?cx=partner-pub-6837398896123097:1570103940'></script>
      <div class="gcse-searchbox-only"></div>
      <div class="gcse-searchresults-only"></div>
      <div class="ad-search">
          <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <ins class="adsbygoogle"
              style="display:block; text-align:center;"
              data-ad-layout="in-article"
              data-ad-format="fluid"
              data-ad-client="ca-pub-6837398896123097"
              data-ad-slot="5943473542"></ins>
          <script>
              (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
        </div>
  </div>

</section>

<!-- <script>
window.onload = function () {
  var input = document.getElementById("gsc-i-id1");
  input.value='';
  input.focus();
}
</script> -->
